<page-header></page-header>

<div class="row">
  <div class="col-12">
    <mat-card appearance="outlined">
      <mat-card-header>
        <div class="header-title">
          <mat-card-title>Producto</mat-card-title>
        </div>
        <div class="header-button">
          <button mat-raised-button color="primary" (click)="create()">
            <mat-icon>group_add</mat-icon> Agregar producto
          </button>
        </div>
      </mat-card-header>

      <mat-card-content>
        <mat-form-field class="filter-field">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Nombre" #input />
        </mat-form-field>

        <div class="table-container">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Columns Definition -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
            </ng-container>

            <ng-container matColumnDef="marca">
              <th mat-header-cell *matHeaderCellDef>Marca</th>
              <td mat-cell *matCellDef="let element">
                {{ element.marca.nombre }}
              </td>
            </ng-container>

            <ng-container matColumnDef="categoria">
              <th mat-header-cell *matHeaderCellDef>Categoria</th>
              <td mat-cell *matCellDef="let element">
                {{ element.categoria.nombre }}
              </td>
            </ng-container>

            <ng-container matColumnDef="codigo">
              <th mat-header-cell *matHeaderCellDef>Codigo</th>
              <td mat-cell *matCellDef="let element">
                {{ element.codigo }}
              </td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef>Descripcion</th>
              <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
            </ng-container>

            <ng-container matColumnDef="valor">
              <th mat-header-cell *matHeaderCellDef class="right-align">Valor</th>
              <td mat-cell class="right-align" *matCellDef="let element">
                {{ element.valor | currency: 'USD' : 'symbol' : '1.0-0' }}
              </td>
            </ng-container>

            <ng-container matColumnDef="accion" stickyEnd>
              <th mat-header-cell *matHeaderCellDef>Accion</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="edit(element.id)">
                  <mat-icon class="mat-primary">edit</mat-icon>
                </button>
                <button mat-icon-button (click)="delete(element.id)">
                  <mat-icon class="mat-warn">delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <!-- Table Rows -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <!-- No Data Row -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="5">
                No hay datos que coincidan con el filtro "{{ input.value }}"
              </td>
            </tr>
          </table>
        </div>
      </mat-card-content>

      <mat-card-footer>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 15]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
