<page-header />

<form [formGroup]="form" (submit)="save()">
  <mat-card appearance="outlined" class="form-field-full">
    <mat-card-header>
      <mat-card-title>Empresa</mat-card-title>
    </mat-card-header>

    <mat-card-content class="mat-card-content">
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="medium-width">
            <mat-label>Nit</mat-label>
            <input formControlName="id" matInput placeholder="Nit" />
            @if (form.get('id')?.invalid) {
              <mat-error>{{ getErrorMessage('id') }}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="medium-width">
            <mat-label>Nombre</mat-label>
            <input formControlName="nombre" matInput placeholder="Nombre" />
            @if (form.get('nombre')?.invalid) {
              <mat-error>{{ getErrorMessage('nombre') }}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="medium-width">
            <mat-label>Telefono</mat-label>
            <input formControlName="telefono" matInput placeholder="0000000" />
            <mat-icon matSuffix>phone</mat-icon>
            @if (form.get('telefono')?.invalid) {
              <mat-error>{{ getErrorMessage('telefono') }}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="medium-width">
            <mat-label>Celular</mat-label>
            <input formControlName="celular" matInput placeholder="0000000000" />

            <mat-icon matSuffix>phone_android</mat-icon>
            @if (form.get('celular')?.invalid) {
              <mat-error>{{ getErrorMessage('celular') }}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="medium-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Pr@example.com" formControlName="email" required />

            @if (form.get('email')?.invalid) {
              <mat-error>{{ getErrorMessage('email') }}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="medium-width">
            <mat-label>Direccion</mat-label>
            <input formControlName="direccion" matInput placeholder="Calle 1 # 2 - 3" />
            @if (form.get('direccion')?.invalid) {
              <mat-error>{{ getErrorMessage('direccion') }}</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="button-container">
      <button [disabled]="form.invalid" mat-flat-button type="submit">
        <mat-icon>save</mat-icon>
        Guardar
      </button>

      <button mat-flat-button>
        <mat-icon>edit</mat-icon>
        Editar
      </button>
    </mat-card-actions>
  </mat-card>
</form>
